
h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}


.suggested td {
    width: 33%;
    height: 100%
}

.suggested tr {
    height: 150pt;
}

.suggested h1{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.suggested p{
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}