.Content {
    margin: 16px;
}

.Centered {
    padding: 25px;
    text-align: center;
    align-content: center;
    font-size: 50px;
    font-weight: bold;
    
}

.Header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0px 1vw;
    margin-top: 5px;
}

.Footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0px;
}

.Footer > span {
    color: white;
}