
h1 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box {
    border: 2px solid black;
    margin-left: 50;
}