.Netflix {
    text-align: center;
    margin: auto;
    background-color: red;
    width: 45%;
    font-size: 25px;
    border-radius: 10px;
}

.Amazon {
    text-align: center;
    margin: auto;
    background-color: blue;
    width: 45%;
    font-size: 25px;
    border-radius: 10px;
}

.HBO {
    text-align: center;
    margin: auto;
    background-color: black;
    width: 45%;
    font-size: 25px;
    border-radius: 10px;
}

.Amazon a {
    text-decoration: none;
    color: white;
}

.Netflix a {
    text-decoration: none;
    color: white;
}

.HBO a {
    text-decoration: none;
    color: white;
}

.Uppercase {
    text-transform: uppercase;
}
