
h1 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Ensures that lists are in the same line and not starting a new one */
ul {
    margin-left: 0px;
    padding-left: 0px;
    display: inline;
}

/* Used for displaying platform lists in a pleasant way */
li {
    display: inline;
    margin: 0 5px;
}

/* Boxes each show/movie result */
.box {
    border: 2px solid black;
    padding: 10px;
}